/* Estilos para asegurar que el body ocupe el 100% de la altura */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;  /* Asegurar que el body ocupe toda la altura */
  overflow: hidden;  /* Evitar barras de desplazamiento */
  font-family: 'Poppins', sans-serif;
}

/* Estilo para el contenedor del mapa */
#map {
  width: 100%;
  height: 100vh;  /* Asegura que el mapa ocupe toda la altura de la ventana */
  position: absolute;
  top: 0;
  left: 0;
}

/* Posicionamiento del componente app-layer-controller */
app-layer-controller {
  position: fixed;
  top: 60%;  /* Ubicar en el 60% de la altura de la pantalla */
  right: 20rem;  /* Ubicar 2rem del borde derecho */
  z-index: 1000;  /* Asegura que esté por encima del mapa */
  background-color: none;  /* Fondo blanco para el controlador */
  padding: 1rem;
  border-radius: 8px;  /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Sombra ligera */
}

/* Estilo para el contenedor de controles dentro de app-layer-controller */
#controls {
  max-height: 90vh; /* Limitar la altura máxima de los controles */
  overflow-y: auto; /* Permitir desplazamiento si el contenido excede el tamaño */
}
