<div id="controls" class="absolute top-0 left-0 p-4 flex flex-col space-y-4 bg-white shadow-lg border border-gray-300 z-50 w-64 h-auto max-h-screen overflow-auto">

    <!-- Botón para toggle el menú -->
    <button class="lg:hidden flex items-center justify-center p-2 text-white bg-blue-500 rounded-md" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Menú colapsable -->
    <div [ngClass]="isMenuOpen ? 'block' : 'hidden'" class="lg:flex lg:space-x-4">
      <div class="mb-4">
        <select id="mapa" class="form-control p-2 bg-white border border-gray-300 rounded-md w-full" (change)="onMapBaseChange($event)">
          <option value="" disabled selected>Selecciona una capa base</option>
          <option value="mapabase_hibrido">Mapa Híbrido</option>
          <option value="mapabase_topo">Mapa Topográfico</option>
          <option value="mapabase_gris">Mapa Gris</option>
          <option value="argenmap_oscuro">Mapa Oscuro</option>
        </select>
      </div>
  
      <!-- Capas -->
      <div id="capacomp1" class="space-y-3">
        <label class="flex items-center space-x-3">
          <input type="checkbox" value="coberturas_del_suelo" class="h-5 w-5 text-blue-500" (change)="onLayerChange($event)" />
          <span class="text-gray-700 text-sm">Cobertura de suelo y vegetación</span>
        </label>
        <label class="flex items-center space-x-3">
          <input type="checkbox" value="dengue_zika_salud" class="h-5 w-5 text-blue-500" (change)="onLayerChange($event)" />
          <span class="text-gray-700 text-sm">Casos de dengue</span>
        </label>
        <label class="flex items-center space-x-3">
          <input type="checkbox" value="cant_poblacion_radio_indec" class="h-5 w-5 text-blue-500" (change)="onLayerChange($event)" />
          <span class="text-gray-700 text-sm">Densidad de población</span>
        </label>
      </div>
    </div>
  </div>
  