<div id="controls" class="position-absolute top-0 start-0 p-4 d-flex flex-column bg-white shadow-lg border border-secondary z-index-50">

  <!-- Botón para toggle el menú -->
  <button class="d-lg-none d-flex align-items-center justify-content-center p-2 text-white bg-primary rounded" (click)="toggleMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Menú colapsable -->
  <div [ngClass]="isMenuOpen ? 'd-block' : 'd-none'" class="d-lg-flex d-none flex-column">
    <div class="mb-4">
      <select id="mapa" class="form-select p-2 bg-white border border-secondary rounded w-100" (change)="onMapBaseChange($event)">
        <option value="" disabled selected>Selecciona una capa base</option>
        <option value="mapabase_hibrido">Mapa Híbrido</option>
        <option value="mapabase_topo">Mapa Topográfico</option>
        <option value="mapabase_gris">Mapa Gris</option>
        <option value="argenmap_oscuro">Mapa Oscuro</option>
      </select>
    </div>

    <!-- Capas -->
    <div id="capacomp1" class="mb-3">
      <label class="d-flex align-items-center mb-3">
        <input type="checkbox" value="coberturas_del_suelo" class="form-check-input me-2" (change)="onLayerChange($event)" />
        <span class="text-secondary">Cobertura de suelo y vegetación</span>
      </label>
      <label class="d-flex align-items-center mb-3">
        <input type="checkbox" value="dengue_zika_salud" class="form-check-input me-2" (change)="onLayerChange($event)" />
        <span class="text-secondary">Casos de dengue</span>
      </label>
      <label class="d-flex align-items-center mb-3">
        <input type="checkbox" value="cant_poblacion_radio_indec" class="form-check-input me-2" (change)="onLayerChange($event)" />
        <span class="text-secondary">Densidad de población</span>
      </label>
    </div>
  </div>
</div>
