<div class="pt-2">
<div id="carouselExampleIndicators" class="carousel slide Carrusel d-flex justify-content-center align-items-center" data-bs-ride="carousel">
  <!-- Indicadores -->
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
  </ol>

  <!-- Carrusel -->
  <div class="carousel-inner bg-primary">
    <div class="carousel-item active">
      <img src="/assets/hibrido.JPG" class="d-block w-100" alt="Mapa Híbrido" />
    </div>
    <div class="carousel-item">
      <img src="/assets/mapagris.JPG" class="d-block w-100" alt="Mapa Gris" />
    </div>
    <div class="carousel-item">
      <img src="/assets/topografico.JPG" class="d-block w-100" alt="Mapa Topográfico" />
    </div>
  </div>

  <!-- Controles de navegación -->
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </a>
</div>

<section class="description bg-light py-4">
  <div class="container">
    <h2 class="text-center mb-4">BaseMap</h2>
    <p class="lead text-center">Capas geográficas para explorar el territorio argentino.</p>
    
    <div class="row">
      <div class="col-md-6">
        <h5>Capas Base</h5>
        <ul>
          <li><strong>Mapa Híbrido:</strong> Combinación de imágenes satelitales con información vectorial.</li>
          <li><strong>Mapa Topográfico:</strong> Detalles geográficos como caminos, montañas y cuerpos de agua.</li>
          <li><strong>Mapa Gris:</strong> Un mapa más neutro y limpio, ideal para visualizar otras capas.</li>
          <li><strong>Mapa Oscuro:</strong> Opción de visualización con fondo oscuro para mejorar la visibilidad de otras capas.</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h5>Capas Complementarias</h5>
        <ul>
          <li><strong>Cantidad de Población:</strong> Datos sobre la distribución de la población en Argentina.</li>
          <li><strong>Dengue:</strong> Información sobre la propagación del dengue en el país en el año 2020.</li>
          <li><strong>Cobertura de Suelo y Vegetación:</strong> Datos sobre los tipos de vegetación y cobertura terrestre (ideal para estudios ambientales y geográficos).</li>
        </ul>
      </div>
    </div>
  </div>
</section>
</div>