<div
  class=" text-gray-800 transition-all duration-1000 pt-7"
>
  <div
    id="carouselExampleIndicators"
    class="relative mx-auto w-3/4 border-2 border-black rounded-lg shadow-lg overflow-hidden pt-7"
  >
    <div class="flex justify-center py-2 space-x-2">
      <button
        class="w-4 h-4 bg-gray-400 rounded-full focus:bg-gray-700"
        (click)="setSlide(0)"
      ></button>
      <button
        class="w-4 h-4 bg-gray-400 rounded-full focus:bg-gray-700"
        (click)="setSlide(1)"
      ></button>
      <button
        class="w-4 h-4 bg-gray-400 rounded-full focus:bg-gray-700"
        (click)="setSlide(2)"
      ></button>
    </div>

    <div
      class="flex items-center justify-center bg-blue-500 h-64"
      [ngClass]="{ hidden: currentIndex !== 0 }"
    >
      <div class="w-full">
        <img
          src="/assets/hibrido.JPG"
          class="w-full object-cover block"
          alt="Mapa Híbrido"
        />
      </div>
    </div>
    <div
      class="flex items-center justify-center bg-blue-500 h-64"
      [ngClass]="{ hidden: currentIndex !== 1 }"
    >
      <div class="w-full">
        <img
          src="/assets/topografico.JPG"
          class="w-full object-cover block"
          alt="Mapa Topográfico"
        />
      </div>
    </div>
    <div
      class="flex items-center justify-center bg-blue-500 h-64"
      [ngClass]="{ hidden: currentIndex !== 2 }"
    >
      <div class="w-full">
        <img
          src="/assets/mapagris.JPG"
          class="w-full object-cover block"
          alt="Mapa Oscuro"
        />
      </div>
    </div>

    <button
      class="absolute left-4 top-1/2 transform -translate-y-1/2 w-12 h-12 bg-black/70 text-white flex items-center justify-center rounded-full shadow-md hover:bg-black/90"
      (click)="prevSlide()"
    >
      &#10094;
    </button>
    <button
      class="absolute right-4 top-1/2 transform -translate-y-1/2 w-12 h-12 bg-black/70 text-white flex items-center justify-center rounded-full shadow-md hover:bg-black/90"
      (click)="nextSlide()"
    >
      &#10095;
    </button>
  </div>

  <section
  class="bg-white/90 py-8 mt-8 mx-4 rounded-xl shadow-md hover:shadow-lg transition-transform transform hover:-translate-y-2"
>
  <div class="container mx-auto text-center">
    <h2 class="text-2xl font-bold text-gray-900">BaseMap</h2>
    <p class="text-lg text-gray-600 mt-2">
      Capas geográficas para explorar el territorio argentino.
    </p>
  </div>
  
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 p-6 text-center">
    <div class="space-y-4">
      <h5 class="font-semibold text-lg">Capas Base</h5>
      <ul class="mt-2 space-y-2">
        <li>
          <strong>Mapa Híbrido:</strong> Imágenes satelitales con información
          vectorial.
        </li>
        <li>
          <strong>Mapa Topográfico:</strong> Caminos, montañas y cuerpos de
          agua.
        </li>
        <li><strong>Mapa Gris:</strong> Un fondo neutro y limpio.</li>
        <li>
          <strong>Mapa Oscuro:</strong> Mejor visibilidad con fondo oscuro.
        </li>
      </ul>
    </div>
    
    <div class="space-y-4">
      <h5 class="font-semibold text-lg">Capas Complementarias</h5>
      <ul class="mt-2 space-y-2">
        <li>
          <strong>Cantidad de Población:</strong> Datos de distribución
          poblacional.
        </li>
        <li>
          <strong>Dengue:</strong> Información sobre la propagación en 2020.
        </li>
        <li>
          <strong>Cobertura de Suelo y Vegetación:</strong> Datos sobre tipos
          de vegetación y terrenos.
        </li>
      </ul>
    </div>
  </div>
</section>


</div>
